/***********************
 * Global layout design
 ***********************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.Clearfix:before, .Clearfix:after {
  content: " ";
  display: table;
}

.Clearfix:after {
  clear: both;
}

.Clearfix {
  *zoom: 1; }

*:focus {
  outline: none;
}

body {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #505000;
  border: none;
  background-color: #e5ffd5;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  min-width: 500px;
  min-height: 1200px;
  overflow-wrap: break-word;
}

/***********************
 * Navigation bar
 ***********************/
nav {
  position: fixed;
  min-height: 120px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #4f7fff;
  color: #fff;
  padding: 1.5em 1.5em 0 1.5em;
}

#logo {
  font-family: 'Bungee', cursive;
  position: relative;
}

#navToggler {
  float: right;
  min-height: 100%;
  width: 10em;
  display: table;
  text-align: center;
}

#navToggler:hover {
  cursor: pointer;
}

#navToggler a {
  font-weight: 900;
  text-decoration: none;
}

#navToggler > div {
  width: 35px;
  min-height: 35px;
  background-image: url("/images/icons/double-chevron-down.svg");
  background-repeat: no-repeat;
  margin: auto;
  animation: vTranslate 1.5s infinite ease-out;
}

@keyframes vTranslate {
  0%, 100% {
    transform: translateY(50%);
  }

  45% {
    transform: translateY(-20%);
  }
}

/***********************
 * Avatar : header
 ***********************/
body > header {
  min-height: 500px;
  margin-top: 120px;
  padding-top: 15px;
  width: 100%;
  background-color: #c8dc20;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  color: #fff;
}

body > header > div {
  width: 300px;
  margin: auto;
  padding: 0;
}

body > header > div > * {
  width: 100%;
  margin: auto;
  text-align: center;
}

body > header > div > h2 {
  text-shadow: 0 0 5px black, 0 0 8px blue, 0 0 15px green;
}

/***********************
 * Main container
 *  - new tweets
 *  _ tweets container
 ***********************/
#container {
  min-height: 500px;
  width: 90%;
  padding: 15px 5% 0 5%;
  margin: 0 auto 0 auto;
  overflow: auto;
  background-color: rgba(245,255,229, 0.8);
}

/***********************
 * New Tweet Form
 ***********************/
#new-tweet {
  width: 100%;
  border-radius: 25px;
  margin: 0 0 30px 0;
  padding: 0 5% 0 5%;
}

#new-tweet > * {
  margin: 0 auto 0 auto;
  width: 100%;
  padding: 10px;
}

#new-tweet textarea {
  background-color: #ecffcf;
  margin-bottom: 10px;
  padding: 1em;
  width: 100%;
  min-height: 4em;
  border: none;
  border-bottom: solid;
  border-radius: 15px 15px 0 0;
  border-color: #505000;
  overflow: hidden;
  resize: none;
}

#new-tweet input, #new-tweet span {
  font-family: 'Bungee', cursive;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0;
}

#new-tweet input {
  min-width: 150px;
  background-color: #0088ff;
  float: left;
}

#new-tweet input:hover {
  background-color: #33a0ff;
  box-shadow: 2px 2px #006dcc;
}

#new-tweet input:focus {
  outline-style: solid;
  outline-color: #33a0ff;
  outline-width: thin;
}

#new-tweet span {
  text-align: right;
  color: #505000;
  float: right;
}

/***********************
 * A Single Tweet
 ***********************/
.tweet {
  border: 3px solid #505000;
  width: 90%;
  margin: 0 5% 30px auto;
  padding: 0 0 0 0;
}

.tweet:hover {
  box-shadow: 10px 10px #b0b05f;
}

.tweet > * {
  min-height: 100px;
  width: 90%;
  margin: 50px 5% 0 5%;
}

.tweet img {
  width: 100px;
  min-height: 100px;
  float: left;
  border: none;
}

.tweet > header > div:first-of-type {
  float: left;
  min-height: 100px;
  padding: 33px 0 0 33px;
  font-weight: 400;
}

.tweet > header > div:nth-of-type(2) {
  float: right;
  min-height: 100px;
  padding: 33px 0 0 33px;
  font-weight: 700;
}

.tweet > div {
  width: 90%;
  margin: 0 5% 0 5%;
  padding: 50px 1em 0 1em;
  border-bottom: 3px solid;
}

.tweet > footer {
  margin-top: 5px;
}

.tweet > footer > div:first-of-type {
  float: left;
}

.tweet > footer > div:nth-of-type(2) {
  float: right;
}

.tweet > footer .flag {
  color: #00a6a6;
  padding: 0 5px 5px ;
  cursor: pointer;
}

/*************************
* Bottom of page scroller
*************************/
#scrollUp {
  background-image: url('/images/icons/arrow-up.svg');
  background-repeat: no-repeat;
  width: 100px;
  min-height: 100px;
  margin: 20px;
  position: fixed;
  z-index: 100;
  display: none;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

/***********************
* Messages
*  - Error messages
*  - Success messages
***********************/
#messages, #messages > .success, #messages > .error {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px
}

#messages > .error {
  color: red;
  border: 1px solid red;
  border-radius: 10px;
}

#messages > .success {
  color: darkgreen;
  border: 1px solid darkgreen;
  border-radius: 10px;
}

#messages > .error:before, #messages > .error:after {
  content: ' \2003 \2717 \2003 ';
}

#messages > .success:before {
  content: ' \2003 \2713 \2003 ';
}

/***********************
* Extra Large screen
***********************/
@media all and (min-width: 959px) {
  body {
    display: flex;
  }

  body > header {
    display: block;
    width: 33%;
  }

  body > #container {
    float: right;
    width: 67%;
    margin-top: 120px;
  }

  .tweet > * > div:nth-of-type(2), .tweet > * > div:nth-of-type(2) > * {
    display: none;
  }

  .tweet:hover > * > div:nth-of-type(2), .tweet:hover > * > div:nth-of-type(2) > * {
    display: block;
  }
}

/***********************
* Small Screens
***********************/
@media all and (max-width: 767px) {
  .tweet > header {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .tweet > header > div:first-of-type, .tweet > header > div:nth-of-type(2) {
    float: right;
    text-align: center;
    width: 100%;
    min-height: 100%;
    height: 50px;
    margin: 0;
    padding: 10px;
    overflow: hidden;
  }

  .tweet > header > img {
    float: none;
    display: block;
    margin: 10px auto 10px auto;
  }
}
