html {
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */
.Clearfix:before, .Clearfix:after {
  content: " ";
  display: table;
}

.Clearfix:after {
  clear: both;
}

.Clearfix {
  *zoom: 1; }

body {
  color: #505000;
  border: none;
  background-color: #e5ffd5;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

/*
 * Navigation bar
 */
nav {
  position: fixed;
  height: 120px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #4f7fff;
  color: #fff;
  padding: 1.5em 1.5em 0 1.5em;
}

#logo {
  font-family: 'Bungee', cursive;
  position: relative;
}

nav > div {
  float: right;
  height: 100%;
  width: 10em;
  display: table;
  text-align: center;
}

nav > div a {
  font-weight:900;
}

nav > div > div {
  width: 35px;
  height: 35px;
  background-image: url("/images/icons/double-chevron-down.svg");
  background-repeat: no-repeat;
  margin: auto;
  animation: vTranslate 1.5s infinite ease-out;
}

@keyframes vTranslate {
    0%, 100% {
      transform: translateY(50%);
    }
    
    45% {
      transform: translateY(-20%);
    }
}

/*
 * Avatar : header
 */
body > header {
  height: 500px;
  padding-top: 125px;
  width: 100%;
  background-color: #a5ff6f;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

body > header > div {
  width: 300px;
  margin: auto;
  padding: 0;
}

body > header > div > * {
  width: 100%;
  margin: auto;
  text-align: center;
}

/*
 * Main container
 */
.container {
  min-height: 2000px;
  width: 90%;
  padding: 15px 5% 0 5%;
  margin: 0 auto 0 auto;
  overflow: auto;
  background-color: rgba(245,255,229, 0.8);
}

/*
 * New Tweet
 */
.new-tweet {
  width: 100%;
  border-radius: 25px;
  margin: 0 0 30px 0;
  padding: 0 5% 0 5%;
}

.new-tweet > * {
  margin: 0 auto 0 auto;
  width: 100%;
  padding: 10px;
}

.new-tweet textarea {
  background-color: #ecffcf;
  margin-bottom: 10px;
  padding: 1em;
  width: 100%;
  height: 4em;
  border: none;
  border-bottom: solid;
  border-radius: 15px 15px 0 0;
  border-color: #505000;
  overflow: hidden;
  resize: none;
}

.new-tweet input, .new-tweet span {
  font-family: 'Bungee', cursive;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0;
}

.new-tweet input {
  min-width: 150px;
  background-color: #0088ff;
  float: left;
}

.new-tweet input:hover {
  background-color: #33a0ff;
  box-shadow: 2px 2px #006dcc;
}

.new-tweet span {
  text-align: right;
  color: #505000;
  float: right;
}

/*
 * Tweet Container
 */
.tweet {
  border: 3px solid #505000;
  width: 90%;
  margin: 0 5% 30px auto;
  padding: 0 0 0 0;
}

.tweet:hover {
  box-shadow: 10px 10px #b0b05f;
}

.tweet > * {
  height: 100px;
  width: 90%;
  margin: 50px 5% 0 5%;
}

.tweet img {
  width: 100px;
  height: 100px;
  float: left;
  border: none;
}

.tweet > header > div:first-of-type {
  float: left;
  height: 100px;
  padding: 33px 0 0 33px;
  font-weight: 400;
}

.tweet > header > div:nth-of-type(2) {
  float: right;
  height: 100px;
  padding: 33px 0 0 33px;
  font-weight: 700;
}

.tweet > div {
  width: 90%;
  margin: 0 5% 0 5%;
  padding: 50px 1em 0 1em;
  border-bottom: 3px solid;
}

.tweet > footer {
  margin-top: 5px;
}
.tweet > footer > div:first-of-type {
  float: left;
}

.tweet > footer > div:nth-of-type(2){
  float: right;
}
